*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.area {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    text-align: center;
}


.container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

h2{
    padding-top: 1%;
    text-align: center;
}

.img-size{
    margin-top: 4%;
    width: 200px;
    height: 200px;
}